:root {
    --menu-bar-height: 60px;
}

html, body, .mark-container{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    border: 0;
}

canvas, #divs {
    width: 100%;
    height: calc(100% - var(--menu-bar-height));
    top: var(--menu-bar-height);
    position: absolute;
    z-index: 200;
}

.menu-bar {
    width: 100%;
    height: var(--menu-bar-height);
    position: absolute;
    background: linear-gradient(0deg, rgb(50,50,50), black);
    z-index: 500;
}
.btn {
    background: transparent;
    font-size: 24px;
    border: 0;
    float: left;
}
.btn:hover {
    cursor: pointer;
}
.btn:focus {
    border: 0;
}
.menu-btn {
    color: white;
    height: 100%;
    min-height: 100%;
    background: rgba(255,255,255,0.1);
    padding: 0 25px;
}
.menu-btn:hover {
    background: rgba(255,255,255,0.3);
}

#page-canvas {
    z-index: 600;
    background: rgba(128,128,128,0.3);
}

#divs {
    position: absolute;
    z-index: 1000;
}
.widget {
    position: absolute;
}
